.DS_Store
.build/
.swiftpm/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcodeproj/
*.xcworkspace/
coverage/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Local application data
MacPicardData/
*.log
